---
layout: home
---

<div id="home" class="screen">

	<div id="alaune" class="module" style="background-image: url(database/unes/20080713-dossier-japan-expo-2008.jpg)">
		<div class="contents">
			<em>A la Une</em>&nbsp;&nbsp;<a href="/index.php/dossier-japan-expo-2008">Japan Expo 2008 : Le Dossier</a>
		</div>
	</div>

	<div id="articles" class="module">
		<div class="contents">
			<h1>Derni&egrave;res chroniques</h1>
			<ul>
				<!--
				<li><strong><a href="http://www.mangaleera.com/index.php/page/2/" >Toutes les chroniques</a></strong></li>
				-->
				{% assign counter = 0 %}
				{% for post in site.posts %}
					{% unless post.categories contains "agenda-des-sorties" %}
						{% assign pdate = post.date | split: " " %}
						{% assign pdate = pdate[0] | split: "-" %}
				<li><a href="{{ post.url | prepend: site.baseurl }}"><strong>{{ pdate[2] }}-{{ pdate[1] }}</strong> {{ post.title | truncate: 28 }}</a></li>
						{% assign counter = counter | plus: 1 %}
						{% if counter == 10 %}
							{% break %}
						{% endif %}
					{% endunless %}
				{% endfor %}
			</ul>
		</div>
	</div>

</div>