	<div id="links" class="screen">
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td valign="top">
					<ul>
						<li>
							<h2>Archives</h2>	
							<ul>
							{% for archive in site.data.terms.archives %}
							<li><a href="{{ archive.permalink | prepend: site.baseurl }}">{{ archive.name }}</a></li>
							{% endfor %}
							</ul>
						</li>
					</ul>
				</td>
				<td valign="top">
					<ul>
						<li>
							<h2>Auteurs</h2>
							<ul class='xoxo blogroll'>
								<li><a href="http://www.yukito.com" title="Site officiel">KISHIRO Yukito</a></li>
							</ul>
						</li>
						<li>
							<h2>Autres blogs</h2>
							<ul class='xoxo blogroll'>
								<li><a href="http://www.bloglaurel.com/">Laurel&#039;s blog</a></li>
							</ul>
						</li>
						<li>
							<h2>Editeurs</h2>
							<ul class='xoxo blogroll'>
								<li><a href="http://www.ankama-editions.com" target="_blank">Ankama Editions</a></li>
								<li><a href="http://www.akata.fr" target="_blank">Akata</a></li>
								<li><a href="http://www.doki-doki.fr">Doki Doki</a></li>
								<li><a href="https://www.glenat.com/manga" target="_blank">Glénat</a></li>
								<li><a href="http://kana.fr" target="_blank">Kana</a></li>
								<li><a href="http://manga.kaze.fr" target="_blank">Kazé Manga</a></li>
								<li><a href="http://www.ki-oon.com/" target="_blank">Ki-oon</a></li>
								<li><a href="http://www.kurokawa.fr/" target="_blank">Kurokawa</a></li>
								<li><a href="http://www.paninicomicsfrance.com" target="_blank">Panini Manga</a></li>
								<li><a href="http://www.pika.fr" target="_blank">Pika</a></li>
								<li><a href="http://www.sakka.info/" target="_blank">Sakka / Casterman</a></li>
								<li><a href="https://www.editions-soleil.fr/mangas" target="_blank">Soleil</a></li>
								<li><a href="http://taifu-comics.com/" target="_blank">Taifu Comics</a></li>
								<li><a href="https://www.editions-delcourt.fr/mangas" target="_blank">Delcourt / Tonkam</a></li>
							</ul>
						</li>
						<li>
							<h2>Evénements</h2>
							<ul class='xoxo blogroll'>
								<li><a href="http://www.japan-expo.com">Japan Expo</a></li>
								<li><a href="http://www.japanmatsuri.fr/" target="_blank">Japan Matsuri</a></li>
								<li><a href="http://www.parismanga.fr">Paris Manga</a></li>
							</ul>
						</li>
						<li>
							<h2>Presse / Webzines</h2>
							<ul class='xoxo blogroll'>
								<li><a href="http://www.animeland.com">Animeland</a></li>
								<li><a href="http://www.bandedessinee.info" rel="acquaintance" target="_blank">Bande Dessinée Info</a></li>
								<li><a href="http://www.manga-news.com/">Manga News</a></li>
								<li><a href="http://www.manga-sanctuary.com">Manga Sanctuary</a></li>
							</ul>
						</li>
					</ul>
				</td>
				<td valign="top">
					<ul>
						<li>
							<h2>Catégories</h2>
							<ul>
							{% for category in site.data.terms.categories %}
								{% if category.parent == "0" %}
								<li class="cat-item"><a href="{{ "/category/" | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a>
								{% assign first = true %}
								{% for childCat in site.data.terms.categories %}
									{% if childCat.parent == category.id %}
										{% if first %}
											{% assign first = false %}
									<ul class="children">
										{% endif %}
										<li class="cat-item"><a href="{{ "/category/" | append: category.slug | append: "/" | append: childCat.slug | prepend: site.baseurl }}">{{ childCat.name }}</a></li>
									{% endif %}
								{% endfor %}
								{% if first == false %}
									</ul>
								{% endif %}
								</li>
								{% endif %}
							{% endfor %}
							</ul>
						</li>
						<li>
							<h2>Divers</h2>
							<ul>
								<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Flux <abbr title="Really Simple Syndication">RSS</abbr> des articles</a></li>
							</ul>
						</li>
					</ul>
				</td>
			</tr>
		</table>
	</div>

	<div id="footer">
		Les illustrations et reproductions des produits pr&eacute;sent&eacute;s sur ce site sont les propri&eacute;t&eacute;s respectives de leurs auteurs et &eacute;diteurs.<br />
		Mangaleera est h&eacute;berg&eacute; par <a href="https://pages.github.com/">GitHub Pages</a>.<br />
		Contact : Christophe SAUVEUR (<a href="https://forms.gle/CA3YcGdhwpsVWhUz8" target="_blank">Contact</a>)
		<span class="screen"><br />
		<br />
		Mangaleera est optimis&eacute; pour les navigateurs suivants :<br />
		<a href="http://www.getfirefox.com">Mozilla Firefox 2.0+</a>, <a href="http://www.microsoft.com/france/windows/ie/default.mspx">Windows Internet Explorer 7+</a>, <a href="http://www.opera.com">Opera 9+</a> et <a href="http://www.apple.com/fr/safari/">Apple Safari 3+</a>.<br />
		Le site a &eacute;t&eacute; test&eacute; avec Internet Explorer 6 et pr&eacute;sente quelques d&eacute;fauts.</span>
	</div>

</div>

