---
layout: default
---
<div id="mainpage">

	<a href="#" onclick="history.back(); return false;" id="back-link" class="screen">Retour</a>
	<h1><a href="{{ page.post_url }}">{{ page.title }}</a></h1>

	<div class="module">
		<div class="module-header screen"><img src="css/images/inside/header.jpg" /></div>
		<div class="contents">
			<div class="postmeta">
				{% assign meta_illus = page.meta | where: "name",".illustration" %}
				{% if meta_illus.size == 1 %}
				<p>
					<a href="{{ page.post_url }}">
						<img src="{{ meta_illus[0].value | prepend: "/database/" | prepend: site.baseurl }}" alt="{{ page.title }}" class="content" border="0" />
					</a>
				</p>
				{% endif %}

				{% assign meta_verdict = page.meta | where: "name",".verdict" %}
				{% if meta_verdict.size == 1%}
				<p>
					<img class="content" alt="Verdict" src="{{ meta_verdict[0].value | prepend: "/database/" | prepend: site.baseurl }}">
				</p>
				{% endif %}

				{% assign arr = site.empty_array %}
				{% for meta in page.meta %}
					{% assign meta_first = meta.name | truncate: 1, "" %}
					{% unless meta_first == "." %}
						{% capture meta_content %}{{ meta.name }}:<br /><strong>{{ meta.value }}</strong>{% endcapture %}
						{% assign arr = arr | push: meta_content %}
					{% endunless %}
				{% endfor %}
				{% if arr.size > 0 %}
				<p rel="zoomable">
					{{ arr | join: "<br />" }}
				</p>
				{% endif %}

				<p class="screen">Cat&eacute;gories :<br />
				{% assign arr = site.empty_array %}
				{% for cat in page.categories %}
					{% assign slug = cat %}
					{% for cat_term in site.data.terms.categories %}
						{% if cat_term.slug == cat %}
							{% assign cat_name = cat_term.name %}
							{% if cat_term.parent != "0" %}
								{% for cat_term2 in site.data.terms.categories %}
									{% if cat_term2.id == cat_term.parent %}
										{% assign slug = slug | prepend: "/" | prepend: cat_term2.slug %}
										{% break %}
									{% endif %}
								{% endfor %}
							{% endif %}
							{% break %}
						{% endif %}
					{% endfor %}
					{% capture cat_content %}<a href="{{ slug | prepend: "/category/" | prepend: site.baseurl }}" rel="category tag">{{ cat_name }}</a>{% endcapture %}
					{% assign arr = arr | push: cat_content %}
				{% endfor %}
					{{ arr | join: "<br />" }}

				{% assign arr = site.empty_array %}
				{% for tag in page.tags %}
					{% for tag_term in site.data.terms.tags %}
						{% if tag_term.slug == tag %}
							{% assign tag_name = tag_term.name %}
							{% break %}
						{% endif %}
					{% endfor %}
					{% capture tag_content %}<a href="{{ tag | prepend: "/tag/" | prepend: site.baseurl }}" rel="category tag">{{ tag_name }}</a>{% endcapture %}
					{% assign arr = arr | push: tag_content %}
				{% endfor %}
				{% if arr.size > 0 %}
					<br />Tags :<br />
					{{ arr | join: "<br />" }}
				{% endif %}
				</p>
			</div>

			<div class="texttools screen">
				<a href="#" rel="zoom-increase" title="Augmenter la taille du texte"><img src="css/images/icone-texte-plus.png" border="0" /></a>
				<img src="css/images/spacer.gif" width="30" height="5" />
				<a href="#" rel="zoom-reset" title="Rétablir la taille du texte"><img src="css/images/icone-texte-normal.png" border="0" /></a>
				<img src="css/images/spacer.gif" width="30" height="5" />
				<a href="#" rel="zoom-decrease" title="Diminuer la taille du texte"><img src="css/images/icone-texte-moins.png" border="0" /></a>
				<img src="css/images/spacer.gif" width="30" height="30" />
				<a href="#" onclick="window.print(); return false;" title="Imprimer"><img src="css/images/icone-imprimante.png" border="0" /></a>
			</div>

			<div class="postcontent" rel="zoomable">
				{% assign meta_spoilers = page.meta | where: "name",".spoilers" %}
				{% if meta_spoilers.size == 1 %}
				<p class="spoilers"><strong>Attention, spoilers !</strong><br>
				Les paragraphes qui suivent peuvent révéler des éléments importants de l'histoire.<br>
				Ne poursuivez pas votre lecture si vous ne souhaitez pas connaître avant l'heure le déroulement des <em>manga</em> concernés.</p>
				{% endif %}

				{% assign meta_citation = page.meta | where: "name",".citation" %}
				{% if meta_citation.size == 1 %}
				<blockquote class="citation">{{ meta_citation[0].value }}</blockquote>
				{% endif %}

				{{ content }}

				{% capture formatted_date %}
					{% assign m = page.date | date: "%-m" %}
					{{ page.date | date: "%d" }}
					{% case m %}
					  {% when '1' %}janvier
					  {% when '2' %}février
					  {% when '3' %}mars
					  {% when '4' %}avril
					  {% when '5' %}mai
					  {% when '6' %}juin
					  {% when '7' %}juillet
					  {% when '8' %}août
					  {% when '9' %}septembre
					  {% when '10' %}octobre
					  {% when '11' %}novembre
					  {% when '12' %}décembre
					{% endcase %}
					{{ page.date | date: "%Y" }}
				{% endcapture %}

				<p class="postcredits"><img alt='' src='https://www.gravatar.com/avatar/385cf3c88bc02f4af666cf51a663c625' srcset='https://www.gravatar.com/avatar/385cf3c88bc02f4af666cf51a663c625?s=96&amp;d=mm&amp;r=g 2x' class='avatar avatar-48 photo' height='48' width='48' />Chronique publi&eacute;e le {{ formatted_date }}<br /> par <strong>Christophe SAUVEUR</strong></p>
			</div>
			<div class="postnavlinks screen">
				<div id="navlink-prev">
					{% if page.previous %}
					&laquo; <a href="{{ page.previous.url | prepend: site.baseurl }}" rel="prev">{{ page.previous.title }}</a>
					{% endif %}
				</div>
				<div id="navlink-next">
					{% if page.next %}
					<a href="{{ page.next.url | prepend: site.baseurl }}" rel="next">{{ page.next.title }}</a> &raquo;
					{% endif %}
				</div>
				<div class="clear"></div></div>
			</div>

			<div class="module-footer screen"><img src="css/images/inside/footer.jpg" /></div>
		</div>

</div>